version: "3.9"
services:
  frontend:
    build: ./docker
    dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"

  backend:
    build: ./docker
    dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
